{% extends "base.html" %}
{% block head %}
<style>
    .modeles_block {
    padding: 10px 0;
    {#/* border-top: 1px solid #ccc; */#}
    margin-bottom: 50px;
}
.modeles_title {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
}
.modeles_price {
    {#/* float: right; */#}
    text-align: right;
    {#/* width: 100%; */#}
    flex: 1;
}
.modeles_content {
    display: flex;
}
.modeles_skils, .modeles_contacts, .modeles_uu{
    display: flex;
    text-align: center;
}
.modeles_contacts>div{
    margin: 10px;
}
.skill {
    margin: 10px;
}
.modeles_left {
    {#flex: 1;#}
    max-width: 40vw;
    display: flex;
}
.modeles_left img {
    width: 20vw;

}
.title {
    padding: 5px;
    text-transform: uppercase;
}
.modeles-link{
    text-align: right;
}
</style>
{% endblock %}
{% block content %}
<div style="height: 70px"> </div>
<div class="modeles-link">
    <a href="{% url 'password_reset' %}">Lost password?</a> &nbsp;
    <a href="{% url 'logout' %}">Выход</a>
</div>

{#    <form method="get">#}
{#    {{ filter.form.as_p }}#}
{#    <button type="submit">Search</button>#}
{#  </form>#}
{#  <ul>#}
{#  {% for user in filter.qs %}#}
{#    <li>{{ user.sex }} - {{ user.money }}</li>#}
{#  {% endfor %}#}
{#    </ul>#}<div class="container">
<div class="modeles_container">
    {% for mod in  modeles_all_list %}
{#    {% for mod in  filter.qs %}#}
        <div class="modeles_block">
            <div class="modeles_title">
                <div class="modeles_name">№{{ mod.id }}   {{ mod.fio }}</div>
                <div class="modeles_price">{{ mod.money }} грн</div>
            </div>
            <div class="modeles_content">
                <div class="modeles_left">
                    <div>
                        <img src="/media/{{ mod.face }}">
                    </div>
                    <div>
                        <img src="/media/{{ mod.full_photo }}">
                    </div>
                </div>
                <div class="modeles_right">
                    <div class="modeles_uu">
                        <div class="skill"><div class="title">пол</div><div class="numb">{{ mod.sex }}</div></div>
                        <div class="skill"><div class="title">Дата рождения</div><div class="numb">{{ mod.birthday }}</div></div>
                        <div class="skill"><div class="title">Цвет волос</div><div class="numb">{{ mod.hair_color }}</div></div>
                        <div class="skill"><div class="title">Длина волос</div><div class="numb">{{ mod.haer_lenth }}</div></div>
                    </div>
                    <div class="modeles_skils">

                        <div class="skill"><div class="title">Рост</div><div class="numb">{{ mod.lenth }} см</div></div>
                        <div class="skill"><div class="title">Вес</div><div class="numb">{{ mod.weight }} кг</div></div>
                        <div class="skill"><div class="title">Плечи</div><div class="numb">{{ mod.chest }} см</div></div>
                        <div class="skill"><div class="title">Талия</div><div class="numb">{{ mod.waist }} см</div></div>
                        <div class="skill"><div class="title">Бедра</div><div class="numb">{{ mod.hips }} см</div></div>
                        <div class="skill"><div class="title">Обувь</div><div class="numb">{{ mod.footwear }} р</div></div>

                    </div>

                    <div class="modeles_contacts">
                        <div>{{ mod.tel }}</div>
                        <div>{{ mod.email }}</div>
                        <div><a href="{{ mod.insta }}" target="_blank">Instagaram</a></div>
                        <div><a href="{{ mod.fb }}" target="_blank">Facebook</a></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="filters">
    <div class="filter">
        <ul>

            <li><a href="#" target="_blank">{{ modeles_filter }}</a></li>

        </ul>
    </div>
</div>
</div>
{% endblock %}