{% extends "base.html" %}
{% load photo_tags %}
{% load clients_tags %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ object.categoryName }}{% endblock %}
{% block head %}
    <meta name="keywords" content="{{ category.keyWords }}" />
    <meta name="description" content="{{ category.descriptions }}" />
    <link href="{% static "css/detail.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "magnific-popup/magnific-popup.css"%}">
    <script src="{% static "magnific-popup/jquery.magnific-popup.min.js"%}"></script>
    <script src="{% static "magnific-popup/gallery.js"%}"></script>
{% endblock %}
{% block content %}
    {% zakaz_form %}
        <div class="content">
            <div class="banner" style="{% if request.user_agent.is_mobile  %}{% thumbnail object.categoryBanner "900" quality=90 as im %}background-image: url({{ im.url }}){% endthumbnail %}
                {% elif object.video %}
{% else %}background-image: url(/media/{{ object.categoryBanner }}){% endif %}">
                {% if request.user_agent.is_mobile  %}
                {% else %}
                {% if object.video %}
                    <div class="videobanner">
                 <iframe width="100%" height="500" style="height: 130vh; width: 140vw; margin-top: -10vh; margin-left: -20vw;" src="{{ object.video |videobanner}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {% endif %}{% endif %}
                <div class="title an">
                    <h1>{{ category.categoryName }}</h1>
                </div>
            </div>
            <div class="intr">
                {{ category.introText|markdown }}
            </div>
            <div class="advetages wrapper">
                {% for advn in advantages %}
                    <div class="advn {{ advn.position }}">
                            <h2 class="an">{{ advn.advantagesTitle }}</h2>
                        {% if advn.advantagesText or advn.advantagesImage %}
                            <div class="advn blocks advn_{{ advn.position }}">
                                {% if advn.advantagesText %}
                                <div class="an advn_text ">
                                    {{ advn.advantagesText|markdown }}
                                </div>
                                {% endif %}
                                {% if advn.advantagesImage %}
                                <div class="advn_img">
                                    <img class="an img_{{ advn.position }}" src="/media/{{ advn.advantagesImage }}">
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
{#                </div>#}
            </div>
            {% if gallery %}
            <div class="gallery wrapper">
                        <h2>{% translate 'Портфолио' %}</h2>
                <div class="gallerys blocks">
                {% for a in gallery %}
                    <div class="gallPhoto">
                    {% thumbnail a.categoryGallery "600" quality=80 as im %}
                        <a href="/media/{{ a.categoryGallery }}" title="{% if a.imgTitle %} {{ a.imgTitle }} - {{ a.idsort }}{% else %}{{ object.categoryName }} - {{ a.idsort }}{% endif %}"  class="gallpopup">
                        <img src="{{ im.url }}" class="an image-detail" width="100%" alt="{% if a.imgTitle %} {{ a.imgTitle }} - {{ a.idsort }}{% else %}{{ object.categoryName }} - {{ a.idsort }}{% endif %}">
                        </a>
                    {% endthumbnail %}
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if videopholio %}
            <div class="gallery wrapper">
                <div class="gallerys blocks">
                {% for a in videopholio %}
                    <div class="gallVideo">
                        <div class="popup-youtube youtube" id="{{ a.videoLink |youtube2 }}" ></div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if prices %}
            <div class="price wrapper" >
                        <h2>{% translate 'Цены' %}</h2>
                <div class="prices blocks" itemprop = "offers" itemscope itemtype = "https://schema.org/Offer">
                    {% for price in prices %}
                        <div class="price block">
                            <div class="price_header" itemprop="name" content="{{ price.priceBlockName }}">{{ price.priceBlockName }}</div>
                            <div class="price_description" itemprop="description">{{ price.priceBlockText|markdown}}</div>
                            <div class="price_price">
                                <span itemprop="price" content="{{ price.priceBlockCount }}">{{ price.priceBlockCount }}</span><span itemprop = "priceCurrency" content = "UAH">{% translate 'грн' %}</span>
                            </div>
                            <button name="заказать" class="clik_zakaz">{% translate 'Заказать' %}</button>
                        </div>

                    {% endfor %}
                </div>
            </div>
            {% endif %}
{% block form %} {% endblock %}
            {% if case %}
            <div ><h2>{% translate 'Кейс работ' %}</h2>
                <div class="case wrapper">
                    {% for cs in case %}
                        <div class="case blocks">
                           <a href="{{ cs.get_absolute_url }}">
                            <div class="an case block" style="
                                    {% if request.user_agent.is_mobile  %}
                                        {% thumbnail cs.casegallery_set.all|preview "500" quality=90 as im %}
                                            background-image: url({{ im.url }})
                                        {% endthumbnail %}
                                    {% else %}
                                        background-image: url('/media/{{ cs.casegallery_set.all|preview }}')
                                    {% endif %};
                                    {% if request.user_agent.is_pc  %}
                                        background-position-x: {{ cs.bannerPositionX }}vw;
                                        background-position-y: {{ cs.bannerPositionY }}vh;
                                        background-size: {{ cs.bannerSize }}%;{% endif %}">
                                <div class="case_title">{{ cs.title }}</div>
                                <div class="case_intro">{{ cs.text |markdown|truncatewords:10}}</div>
                           </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if blog %}
            <div ><h2>{% translate 'Блог' %}</h2>
                <div class="case wrapper">
                    {% for bg in blog %}
                        <div class="case blocks">
                           <a href="{{ bg.get_absolute_url }}">
                            <div class="an case block" style="{% if request.user_agent.is_mobile  %}{% thumbnail bg.photo "500" quality=90 as im %}background-image: url({{ im.url }}){% endthumbnail %}
{% else %}background-image: url('/media/{{ bg.photo }}'){% endif %};">
                                <div class="case_title">{{ bg.title }}</div>
                                <div class="case_intro">{{ bg.text |markdown|truncatewords:10}}</div>
                           </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}