{% extends "/base.html" %}
{% load i18n %}
{% block content %}

{#    {% if sent %}#}
{#        <h1>E-mail successfully sent</h1>#}
{#        <p>#}
{#            "{{ category.title }}" was successfully sent to {{ cd.to }}.#}
{#        </p>#}
{#    {% else %}#}
{#        <h1>Share "{{ category.title }}" by e-mail</h1>#}
{#        <form action="." method="post">#}
{#            {{ form.as_p }}#}
{#            {% csrf_token %}#}
{#            <input type="submit" value="Send e-mail">#}
{#        </form>#}
{#    {% endif %}#}
{#    {% for f in form %}#}
{#    <div>#}
{#        {{ f.name }}#}
{##}
{#    </div>#}
{#{% endfor %}#}

форма
    111
{% endblock %}